- if !user_signed_in?
	#jumbotron
		%h1 We make everything simple
		= link_to "Get started", new_user_registration_path

#pins.transitions-enabled
	- if @pinposts != nil
		- @pinposts.each do |pinpost| 
			.pin-post.box
				= link_to image_tag(pinpost.image.url), pinpost
				.panel-body
					= link_to pinpost.title, pinpost, id: "title"




