/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 *= require fullcalendar
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background-image: url('background.png');
}

ol.breadcrumb {
	margin: 0;
	overflow: hidden;
	background: #2574A9;
	color: white;
	-webkit-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.62);
	box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.62);
	border-radius: 0px;
	li {
		float: right;
		a {
			color: white;
			&:hover {
				text-decoration: none;
				color: #bdc3c7;
			}
		}
	}
	a {
		color: white;
		&:hover {
			text-decoration: none;
			color: #bdc3c7;
		}
	}

}

#nav-brand {
	margin-left: 50px;
}

.pin-post {
	width: 300px;
	display: inline-block;
	margin: 20px;
	background: #F2F1EF;
	
	text-align: center;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	img {
	  	width: 100%;
	  	height: auto;
	  	margin-bottom: 10px;
	}
	a#title {
		padding: 10px;
		color: black;
		&:hover {
			text-decoration: none;
		}
	}
	.panel-body {
		padding: 0px;
	}
}

#pin_post_content {
	resize: none;
}

.pin-show {
	background: white;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.47);
	margin-top: 20px;
	width: 768px;
	margin: 20px auto;
	img {
		width: 100%;
	}

	.content {
		padding: 20px;
		background: #F2F1EF;
		p {
			font-size: 15px;
		}
	}
}

#jumbotron {
	width: 50%;
	height: 400px;
	margin: 200px auto;
	background: black;
	background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.7);
    text-align: center;
    padding-top: 100px;
	h1 {
		color: white;
		margin-bottom: 50px;
	}

	a {
		padding: 5px;
		font-size: 20px;
		color: white;
		border: 1px solid white;
		&:hover {
			text-decoration: none;
			border: 2px solid white;
		}
	}
}

#calendar {
	right: 0px;
	width: 42%;
	padding: 10px;
	background: white;
	-webkit-box-shadow: -3px 3px 3px -1px rgba(0,0,0,0.17);
	-moz-box-shadow: -3px 3px 3px -1px rgba(0,0,0,0.17);
	box-shadow: -3px 3px 3px -1px rgba(0,0,0,0.17);
	position: absolute;
	z-index: 1;
}

.container {
	width: 100%;
	line-height: 1.8em;
	display: block;
	margin-left: 20px;
}

.container-left {
	width: 60%;
	margin-left: 20px;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
	background-color: #95a5a6;
	color: white;
	border: none;
	border-radius: 2px;
	margin-top: 5px;
	padding: 1px;
}

.fc-day:hover{
    background:lightblue;
}
.fc-slats, 
.fc-content-skeleton, 
.fc-bgevent-skeleton{
    pointer-events:none;
}
.fc-bgevent, .fc-state-highlight, 
.fc-day-number.fc-event-container{
    pointer-events:auto;
}

.noTitleStuff .ui-dialog-titlebar {display:none}

.noTitleStuff {
	height: 100000px;
}


#dialog input, #dialog button {
	background: #2C3E50;
	color: white;
	border-radius: 3px;
	display: inline;
	height: auto;
}

#dialog button {
	margin-left: 30px;
}
div.ui-dialog.ui-widget {
	width: 200px;
	border-radius: 0px;
}

.hidden {
	display: none;
}

#toggle-calendar {
	float: right;
	margin-left: 20px;
}